@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme='light'] {
  --button-default-bg: #e0e1e2;
  --button-default-bg-hover: #d5d7d8;
  --button-default-bg-active: #cecfd1;
  --button-default-color: rgba(33,37,41,.8);
  --button-white-bg: #fff;
  --button-white-hover: #fafafa;
  --button-white-color: #212529;
  --button-white-border: hsla(240,5%,48%,.05);
  --button-primary-bg: #40abe9;
  --button-primary-bg-hover: #2ea3e7;
  --button-primary-bg-active: #239ee6;
  --button-primary-color: #fff;
  --blue: #007feb;
  --green: #3cce7b;
  --purple: #6f42c1;
  --border-base: #e5e5e5;
  --border-light: #e9e9e9;
  --border-opacity: rgba(60,60,67,.29);
  --text-primary: #212529;
  --text-primary-inverse: #fff;
  --text-secondary: #818181;
  --text-muted: #868e96;
  --text-link: #1992d8;
  --link-border-color: rgba(0,0,0,.16);
  --text-2: rgba(60,60,67,.6);
  --background: #f2f2f3;
  --background-dark: #444;
  --background-hover: hsla(240,5%,48%,.05);
  --background-header: #2ea3e7;
  --background-highlight: #fbfbfc;
  --background-fill-1: hsla(240,3%,49%,.2);
  --background-fill-2: hsla(240,3%,49%,.16);
  --background-fill-3: hsla(240,4%,48%,.12);
  --background-fill-4: hsla(240,5%,48%,.05);
  --background-elevated-1: #fff;
  --background-elevated-2: #fff;
  --background-elevated-3: #fff;
  --foreground: #fff;
  --foreground-darken: hsla(240,5%,48%,.05);
  --input-border: #dcdcdc;
  --input-border-focus: #c0c4cc;
  --input-bg: #fff;
  --dropdown-bg: #fff;
  --tag-bg: #e7edf3;
  --tag-bg-light: rgba(0,0,0,.05);
  --tag-bg-light-hover: rgba(0,0,0,.12);
  --tag-border: #e8eaec;
  --tag-color: #6b6b6b;
  --tag-bg-alt: #f7f9fb;
  --scrollbar-track: #f3f3f3;
  --scrollbar-thumb: #c1c1c1;
  --comment-highlight: #ecf6ff;
  --shadow-default: hsla(0,0%,76%,.17);
  --radio-group-bg-active: #fff;
  --wrapper-bg:#fff;
  --primary: #2ea3e7;
  --background-header:#2ea3e7;
  --primary-lighten: #40abe9;
  --primary-darken: #40abe9;
  --red: #f44336;
  --orange: #f77519;
  --red-lighten: #f66;
  --yellow: #ff0;
  --white: #fff;
  --blue: #007feb;
  --border-darker: #c0c4cc;
  --border-primary: #c6c6c8;
  --tooltip-bg: rgba(15, 15, 15, 0.938);
  --tooltip-color: #fff;
  --placeholder-block-bg: #eee;
  --range-thumb: #fff;
  --range-thumb-border: rgba(0,0,0,.04);
  --range-thumb-shadow: rgba(0,0,0,.15);
}
html[data-theme='dark'] {
  --button-default-bg: #2d2d2d;
  --button-default-bg-hover: #2f2f2f;
  --button-default-bg-active: #292929;
  --button-default-color: #babbbd;
  --button-white-bg: #1c1c1e;
  --button-white-hover: #222224;
  --button-white-color: #ddd;
  --button-white-border: hsla(240,5%,48%,.1);
  --button-primary-bg: #40abe9;
  --button-primary-bg-hover: #2ea3e7;
  --button-primary-bg-active: #239ee6;
  --button-primary-color: #fff;
  --blue: #1484ff;
  --green: #4ae29b;
  --purple: #ac83f7;
  --border-base: #38383a;
  --border-light: #292929;
  --border-opacity: rgba(84,84,88,.65);
  --text-primary: #ddd;
  --text-primary-inverse: #000;
  --text-secondary: #aaa;
  --text-muted: #868e96;
  --text-link: #1992d8;
  --link-border-color: hsla(0,0%,100%,.3);
  --text-2: rgba(235,235,245,.6);
  --background: #141414;
  --background-dark: #444;
  --background-hover: hsla(240,5%,48%,.1);
  --background-header: #1c1c1e;
  --primary-lighten: #40abe9;
  --background-highlight: rgba(251,251,252,.035);
  --background-fill-1: hsla(240,3%,49%,.36);
  --background-fill-2: hsla(240,3%,49%,.32);
  --background-fill-3: hsla(240,4%,48%,.24);
  --background-fill-4: hsla(240,5%,48%,.1);
  --background-elevated-1: #1c1c1e;
  --background-elevated-2: #252527;
  --background-elevated-3: #3a3a3c;
  --foreground: #1c1c1e;
  --foreground-darken: hsla(240,5%,48%,.1);
  --input-border: #3b3d45;
  --input-border-focus: #4b4d55;
  --input-bg: #1a1a1a;
  --dropdown-bg: #252527;
  --tag-bg: #36373d;
  --tag-bg-light: hsla(0,0%,100%,.08);
  --tag-bg-light-hover: hsla(0,0%,100%,.15);
  --tooltip-bg: rgba(15, 15, 15, 0.938);
  --tooltip-color: #fff;
  --tag-border: #e8eaec;
  --tag-color: #6b6b6b;
  --tag-bg-alt: #f7f9fb;
  --scrollbar-track: #282828;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: -apple-system,BlinkMacSystemFont,Open Sans,Roboto,Helvetica Neue,Helvetica,sans-serif;
}

a:hover {
  color: #1992d8;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  max-width: max-content;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

/* varriable styles */
.overwflow-hidden {
  overflow: hidden;
}
.background-background {
  background-color: var(--background);
}
.background-hover {
  background-color: var(--background-hover);
}
.background-primary-lighten {
  background-color: var(--primary-lighten);
}
.foreground {
  background-color: var(--foreground);
}
.background-hightlight {
  background-color: var(--background-highlight);
}
.dropdown-background {
  background-color: var(--dropdown-bg);
}
.background-fill-4 {
  background-color: var(--background-fill-4);
}
.background-fill-3 {
  background-color: var(--background-fill-3);
}
.background-fill-3-hover:hover {
  background-color: var(--background-fill-3);
}
.background-elevated-2 {
  background-color: var(--background-elevated-2);
}
.primary-lighten {
  background-color: var(--primary-lighten);
}
.primary-lighten-border {
  border: 1px solid var(--primary-lighten);
}
.button-primary {
  background-color: #40abe9;
  background-color: var(--button-primary-bg);
  color: #fff;
  color: var(--button-primary-color);
}
.button-default-color {
  color: var(--button-default-color);
}
.button-default-bg {
  background-color: var(--button-default-bg);
}
.border-bottom-base {
  border-bottom: 1px solid var(--border-base);
}
.border-top-base {
  border-top: 1px solid var(--border-base);
}
.border-base {
  border: 1px solid var(--border-base);
}
.border-l-base {
  border-left: 1px solid var(--border-base);
}
.border-light {
  border: 1px solid var(--border-light);
}
.text-2 {
  color: var(--text-2);
}
.text-mutted {
  color: var(--text-muted);
}
.text-blue {
  color: var(--blue);
}
.text-link {
  color: var(--text-link);
}
.light-hover:hover {
  background: hsla(240,5%,48%,.05);
  background: var(--background-fill-4);
  text-decoration: none;
  color: #212529;
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.input-border {
  border: 1px solid var(--input-border);
}
.input-background {
  background-color: var(--input-bg);
}
.button-default-bg {
  background-color: var(--button-default-bg);
  color: var(--button-default-color);
}
.overwflow-hidden {
  overflow: hidden;
}
.tippy-bg {
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
}
.ranobe-related-shadow {
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}
.ranobe-related-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.instagram-bg {
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

/* modal */

.modal-inner {
  overflow: hidden;
    padding: 44px 0 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    padding: 40px 0;
    overflow-y: auto;
    transition: .5s;
}

.modal-inner-backgorund-open {
  background-color: rgba(0,0,0,.65);
}
.modal-inner-backgorund-close {
  background-color: rgba(0, 0, 0, 0);
}

.modal-content {
  width: 100%;
  max-height: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: absolute;
  transition: .3s;
}

/*  */

.manga-search-sort-button {
  background: none;
  border: none;
  padding: 6px 8px;
  color: #212529;
  color: var(--text-primary);
  border-radius: 3px;
  white-space: nowrap;
}

/* checkbox */

.check-input {
  visibility: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox {
  border: 1px solid #dcdcdc;
  border: solid 1px var(--input-border);
  background-color: #fff;
  background-color: var(--input-bg);
  border-radius: 3px;
  transition: .3s;
}

.check-input:checked + span{
  border: 1px solid #40abe9;
  background: #40abe9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-input:checked + span::after{
  opacity: 1;
}

.custom-checkbox::after {
  content: "";
  opacity: 0;
  height: 4px;
  width: 9px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
}

.custom-checkbox-catalog {
  border: solid 1px var(--input-border);
  border-radius: 3px;
  transition: .3s;
}

/* header */

.header {
  background-color: var(--background-header);
}
.header-hover:hover {
  color: #fff;
  text-decoration: none;
  background-color: hsla(0,0%,100%,.09);
  border-radius: 3px;
  transition: .3s;
  cursor: pointer;
}

/* wrappers */

.main-wrapper {
  background-color: var(--foreground);
  padding: 10px 14px;
  border-radius: 4px;
}

.main-wrapper-padding-out {
  background-color: var(--foreground);
  border-radius: 4px;
}

.page-wrraper {
  width: calc(100% - 300px);
}

/* catalog tippy */

.tippy-box {
  max-width: calc(100vw - 10px);
  pointer-events: none;
  z-index: 9999;
  visibility: visible;
  margin: 0px;
  position: absolute;
  inset: 5% auto auto 100%;
  transition: .3s;
}

/* footer */

.footer {
  padding: 20px 40px 10px;
  background-color: var(--foreground);
}

.link {
  color: var(--text-link);
}

/* ranobe */

.main-random-chapter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  color: var(--white);
  padding: 35px 5px 5px;
  background-image: (linear,left bottom,left top,from(rgba(0,0,0,.8)),to(rgba(0,0,0,.01)));
  background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,rgba(0,0,0,.01));
  text-shadow: 0 1px rgb(0 0 0 / 70%);
  overflow: hidden;
  border-radius: 0 0 4px 4px;
}

.random-ranobe-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: clip;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}

/* forum */

.forum-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  width: 100%;
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
}

/* border */

.boder-bottom {
  border-bottom: solid 1px var(--border-base)
}
.boder-bottom:last-child {
  border: none;
}

/* geres */

.genres-item {
  display: block;
    float: left;
    margin: 0 8px 8px 0;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    color: #212529;
    color: var(--text-primary);
    background-color: #e7edf3;
    background-color: var(--tag-bg);
    white-space: nowrap;
    border-radius: 2px;
    text-decoration: none;
}

.genres-conteiner {
  transition: .3s ease;
  padding: 10px 10px 2px;
}

/* popular ranobe */

.popular-ranobe {
  padding: 10px;
}
.popular-ranobe::before {
  content: "";
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    display: block;
    height: 1px;
    background: #e5e5e5;
    background: var(--border-base);
    -webkit-transition: left .2s ease,right .2s ease;
    transition: left .2s ease,right .2s ease
}
.popular-ranobe:hover {
  background-color: var(--background-highlight);
}
.popular-ranobe:hover::before {
  left: 0;
  right: 0;
}
.popular-ranobe:hover::before {
  left: 0;
  right: 0;
}
.popular-ranobe-name {
  color: var(--text-secondary);
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  width: 100%;
}
.popular-ranobe-name:hover {
  color: var(--text-primary);
 }
.popular-ranobe-volumes {
  display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 24px;
    padding: 4px 5px;
    line-height: 16px;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-primary);
    background-color: var(--foreground-darken);
}
.popular-ranobe-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  width: 130px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.tags-more {
  text-align: center;
  /* height: 36px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  line-height: 36px;
  font-weight: 500;
  color: #818181;
  color: var(--text-secondary);
  cursor: pointer;
}

.news-item {
  color: var(--text-muted);
}

/* adaptive navbar */

.adaptive-navbar {
  transition: 0.5s;
  background-color: #1c1c1e;
  color: #fff;
}
.adaptive-navbar-item {
  border-bottom: 1px solid #38383a;
  display: flex;
  gap: 15px;
  align-items: center;
  color: #fff;
  padding: 14px 32px;
  position: relative;
  color: #ddd;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #38383a;
  -webkit-tap-highlight-color: transparent;
}
.adaptive-navbar-item:last-child {
  border-bottom: 1px solid #38383a;
}
.adaptive-navbar-item:hover {
  background-color: #fbfbfc;
  background-color: rgba(251,251,252,.035);
  text-decoration: none;
}
.menu-icon {
  position: relative;
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
/* search */

.search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1400;
  background: rgba(0,0,0,.6);
  -webkit-animation: fade .2s ease;
  animation: fade .2s ease;
  transition: .4s;
}
.search-suggestions {
  max-height: calc(100vh - 92px);
  overflow-y: auto;
  background-color: #fff;
  background-color: var(--foreground);
}
.search-container {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 80px;
}
.search-inner {
  min-height: 100vh;
  padding-top: 9px;
}
.autocomplete-empty {
  padding: 20px;
  text-align: center;
  color: #818181;
  color: var(--text-secondary);
}
.list-item {
  position: relative;
  padding: 10px;
  cursor: pointer;
  display: block;
  color: #212529;
  color: var(--text-primary);
}
.list-item:hover {
  background-color: #fbfbfc;
  background-color: var(--background-highlight);
  text-decoration: none;
}
.list-item:hover:before {
  left: 0;
  right: 0;
}
.list-item:first-child::before {
  display: none;
}
.list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  display: block;
  height: 1px;
  background: #e5e5e5;
  background: var(--border-base);
  -webkit-transition: left .2s ease,right .2s ease;
  transition: left .2s ease,right .2s ease;
}
.ranobe-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #212529;
  color: var(--text-primary);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
.ranobe-list-item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ranobe-list-item-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
}
.ranobe-list-item-name span {
  color: #818181;
  color: var(--text-secondary);
  font-weight: 400;
}
.ranobe-list-item-name span:before {
  content: "/";
  margin: 0 5px;
}
.search-filter-wrap {
  overflow-y: auto;
  max-height: calc(100% - 44px);
}
.search-filter {
  width: 320px;
  height: calc(100vh - 87px);
  position: -webkit-sticky;
  position: sticky;
  float: right;
  bottom: 14px;
}
/* background */
.media-background {
  position: absolute;
  background-image: url('./image/sdENChI4MFN1.png');
  top: 56px;
  left: 0;
  right: 0;
  z-index: 1;
  height: 350px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.media-background:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0,0,0,.6);
}
[data-theme=dark] .media-background:after {
  content: "";
  display: block;
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 3;
  background: -webkit-gradient(linear,left bottom,left top,from(#141414),to(transparent));
  background: linear-gradient(0deg,#141414,transparent);
}
.media-content-side {
  max-width: calc(100% - 280px);
  flex-grow: 1;
  -webkit-box-flex:1;
}
.media-header {
  position: relative;
  width: 100%;
  padding: 56px 18px 0;
  overflow: hidden;
  max-width: 900px;
  min-height: 200px;
}
.media-header-background {
  background-image: url('./image/sdENChI4MFN1.png');
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  background-size: cover;
  background-position: 50%;
}
.media-header-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background: rgba(0,0,0,.65);
}
.media-header-inner {
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.media-header-inner .cover {
  max-width: 220px;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}
.media-content-mobile {
  position: relative;
  z-index: 20;
  margin-top: -35px;
  background: #f2f2f3;
  background: var(--background);
  border-radius: 18px 18px 0 0;
  padding-bottom: 1px;
}
.media-info-header {
  border-radius: 18px 18px 0 0;
  padding: 12px 16px 5px;
  position: relative;
  z-index: 10;
  background: #fff;
  background: var(--foreground);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.page-wrapper {
  width: calc(100% - 310px);
}

.text-primary {
  color: var(--text-primary);
}

.media-bottom-menu {
  /* background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.9)),to(transparent)); */
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.988),transparent);
  padding-top: 70px;
}

.media-sidebar-actions-item {
  cursor: pointer;
  padding: 2px 6px;
  min-width: 32px;
  text-align: center;
  color: #fff;
  opacity: .7;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.tabs-line {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 20;
  height: 2px;
  background-color: #2ea3e7;
  -webkit-transition: width .1s ease,-webkit-transform .2s ease;
  transition: width .1s ease,-webkit-transform .2s ease;
  transition: transform .2s ease,width .1s ease;
  transition: transform .2s ease,width .1s ease,-webkit-transform .2s ease
}

.media-links:hover {
  color: var(--text-primary);
}

.text-shadow {
    text-shadow: 0 0 2px rgb(0 0 0 / 65%);
}

.media-card-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  color: var(--white);
  padding: 45px 5px 5px;
  background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.8)),to(rgba(0,0,0,.01)));
  background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,rgba(0,0,0,.01));
  text-shadow: 0 1px rgb(0 0 0 / 70%);
  overflow: hidden;
  border-radius: 0 0 4px 4px;
}

.control-input {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control-indicator {
    width: 16px;
    height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    -webkit-transition: .15s ease;
    transition: .15s ease;
}

.control-input:checked + span {
  border: 1px solid #40abe9;
  background: #40abe9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-input:checked + span::after {
  transform: scale(.4);
  background-image: url('../src/image/circle.png');
  border-radius: 50%;
  opacity: 1;
}

.control-indicator::after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  opacity: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-transition: opacity .15s ease,-webkit-transform .15s ease;
  transition: opacity .15s ease,-webkit-transform .15s ease;
  transition: opacity .15s ease,transform .15s ease;
  transition: opacity .15s ease,transform .15s ease,-webkit-transform .15s ease;
}

.genre-item-hover:hover {
  color: var(--text-primary);
  background-color: var(--background-fill-3);
}

/* tippy */

.tippy {
  z-index: 9999;
  transition: 250ms;
  border-radius: 4px;
  margin: 0px;
  position: absolute;
  background-color: var(--background-elevated-2);
  color: #212529;
  color: var(--text-primary);
  border-radius: 4px;
  text-align: left;
  pointer-events: auto;
  -webkit-box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
}

/* girland */

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: 0 0 0 0;
  left: 0;
  top: -15px;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.lightrope li {
  position: relative;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 7px;
  height: 17px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: #00f7a5;
  box-shadow: 0px 4.66667px 24px 3px #00f7a5;
  -webkit-animation-name: flash-1;
  animation-name: flash-1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
  background: cyan;
  box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
  -webkit-animation-name: flash-2;
  animation-name: flash-2;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.lightrope li:nth-child(4n+2) {
  background: #f70094;
  box-shadow: 0px 4.66667px 24px 3px #f70094;
  -webkit-animation-name: flash-3;
  animation-name: flash-3;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}

.lightrope li:nth-child(odd) {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}

.lightrope li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9.33333px;
  border-radius: 3px;
  top: -4.66667px;
  left: 1px;
}

.lightrope li:after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 18.66667px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}

.lightrope li:last-child:after {
  content: none;
}

.lightrope li:first-child {
  margin-left: -40px;
}

@-webkit-keyframes flash-1 {
  0%, 100% {
    background: #00f7a5;
    box-shadow: 0px 4.66667px 24px 3px #00f7a5;
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
  }
}

@keyframes flash-1 {
  0%, 100% {
    background: #00f7a5;
    box-shadow: 0px 4.66667px 24px 3px #00f7a5;
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
  }
}

@-webkit-keyframes flash-2 {
  0%, 100% {
    background: cyan;
    box-shadow: 0px 4.66667px 24px 3px cyan;
  }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
  }
}

@keyframes flash-2 {
  0%, 100% {
    background: cyan;
    box-shadow: 0px 4.66667px 24px 3px cyan;
  }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
  }
}

@-webkit-keyframes flash-3 {
  0%, 100% {
    background: #f70094;
    box-shadow: 0px 4.66667px 24px 3px #f70094;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}

@keyframes flash-3 {
  0%, 100% {
    background: #f70094;
    box-shadow: 0px 4.66667px 24px 3px #f70094;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}

/* media */

@media (max-width:1023px) {
  .page-wrraper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .search {
    background-color: #fff;
    background-color: var(--foreground);
  }
  .search-container {
    max-width: 100%;
    padding: 0 10px;
  }
  .search-inner input {
      height: 44px;
      padding-left: 44px;
      padding-right: 44px;
      border-radius: 0;
      border-bottom: 1px solid #e5e5e5;
      border-bottom: solid 1px var(--border-base);
  }
  .container {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 374px) {
  .catalog-item {
    width: 50%;
  } 
}